<form [formGroup]="formulario">

    @if (formulario.get('note').hasError('required') && formulario.get('note').touched) {
        <p class="alert alert-warning">O campo é obrigatório.</p>
    }
    <input type="text" formControlName="note" placeholder="Note" class="form-control">
    
    <input type="button" value="Add" (click)="create(formulario)" class="btn btn-primary" [disabled]="formulario.invalid">
</form>

<table class="table">
    <thead>
        <tr>
            <th>Note</th>
            <th>Concluded</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of notes">
            <td>{{note.note}}</td>
            <td><input class="form-check-input" type="checkbox" (click)="update(note.id, note.note, note.concluded)" [checked]="note.concluded" id="flexCheckDefault"></td>
            <td><button class="btn btn-danger" (click)="delete(note.id)">Deletar</button></td>
        </tr>
    </tbody>
</table>